
.owl-carousel.home-slider .slider-item {
  height: 210px;
}
.owl-carousel.home-slider {
  position: relative;
  height: 210px;
  z-index: 0;
}
.owl-carousel.home-slider .owl-dots {
  bottom: 0.5em;
}

/* common */
.tw-blue {
  color: #005cac;
}
.tw-white {
  color: #ffffff;
}
.btn.btn-primary {
  background: #1b9ce3;
  border: 1px solid #1b9ce3;
  color: #fff;
}
/* .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  position: unset;
  width: unset;
} */
/* 品牌介绍 */
.tw-title {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}
.tw-title h2 {
  font-size: 24px;
  font-weight: 600;
  color: #005cac;
}
.tw-title p {
  font-size: 16px;
  margin-bottom: 0rem;
}
.tw-about,.tw-from,.tw-number {
  margin-top: 3em;
  margin-left: 0;
  margin-right: 0;
}
.tw-about .tw-a-bg {
  border: 1px solid #ff0000;
  border-radius: 10px;
  background: linear-gradient(150deg, #005dae, #005dae, #e40210, #e40210);
  margin: 0 15px;
  color: #FFFFFF;
  padding-top: 15px;
  padding-bottom: 15px;
}
.tw-about .tw-a-bg .left {
  display: inline-block;
  width: 39%;
  height: 100%;
  vertical-align: top;
  padding-top: 10px;
  border-right: 1px dashed #ffffff;
}
.tw-about .tw-a-bg .left h3 {
  font-size: 18px;
}
.tw-about .tw-a-bg .right {
  display: inline-block;
  width: 59%;
  vertical-align: top;
  padding-top: 10px;
}
.tw-about .tw-a-bg .right p {
  font-size: 0.8em;
}
.tw-about .tw-a2 {
  margin-top: 1em;
}
.tw-from .title {
  font-size: 24px;
  margin: 1.5em auto 1em;
  color: #005cac;
}
.tw-from .from-width {
  width: 100%;
}
.tw-from .btn {
  width: 100%;
}
.tw-number {
  margin-right: 0px;
  margin-left: 0px;
}
.tw-number .ftco-counter {
  margin-top: 0;
}
/* .tw-number #section-counter {
  position: relative;
  z-index: 0;
  padding-bottom: 1em;
  width: 100%;
  height: 100vw;
  background: url(../images/number_bg.png) no-repeat center center;
  -webkit-background-size: contain;
  -o-background-size: contain;                
  background-size: contain;
}
.tw-f2 {
  width: 49%;
  float: left;
  padding: 2em 2em 1em;
  text-align: center;
  color: #005cac;
}
.tw-f2 .number {
  font-size: 2.4em;
  line-height: 2.4em;
}
.tw-f2 span {
  font-size: 16px;
}
.tw-f2 .desc {
  font-size: 16px;
  color: #ffffff;
} */
.tw-number .container {
  /* display: flex; */
  max-width: 320px;
  height: 320px;
  background: url(../images/number_bg.png) no-repeat center center;
  -webkit-background-size: contain;
  -o-background-size: contain;                
  background-size: contain;
  padding-right: 0;
  padding-left: 0;
}
.tw-p2{
  -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.tw-number .tw-q2 {
  width: 160px;
  height: 160px;
  float: left;
  padding-top: 45px;
  text-align: center;
  line-height: 50px;
}
.tw-number .b {
  padding-top: 30px;
}
.tw-number .tw-q2 .number {
  font-size: 28px;
  color: #005cac;
}
.tw-number .tw-q2 span {
  font-size: 16px;
  color: #005cac;
}
.tw-number .tw-q2 .desc {
  font-size: 12px;
  color: #ffffff;
}
/* .tw-project .col-md-4{
  width: 49%;
} */
.tw-project .col-6 .project {
  height: 180px;
  border: 3px solid #ffa000;
}
.tw-project .t-title {
  text-align: center;
}
.tw-hxkj {
  padding: 2em 0 2em;
}
.tw-hxkj .project{
    height: 360px;
    margin-bottom: 0;
    position: relative;
    z-index: 0;
    margin: 0;
    border: none;
}
.tw-hxkj .project img {
  width: 100%;
}

.tw-banner {
  height: auto !important;
}
.tw-honor {
  height: 140px !important;
}
.tw-banner .owl-dots .owl-dot.active {
  background: #007bff !important;
}
.tw-banner .owl-dots .owl-dot {
  background: #d7ebff !important;
}






@media screen and (max-width: 10px) {
  body{
    width: 10px;
  }
}